*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body{
	font-size: 10px;
	background-color: #f0f2f5;
}

.contain{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
/*	background: dodgerblue;*/
	height: 70vh;
}

.formimg{
	margin-top: 50px;
	margin-left: 50px;
/*	width: 30em;*/
flex-basis: 50%;
/*background-color: 	yellow;*/
text-align: left;

}
.formimg img{
	width: 30em;
	align-self: flex-start;
}

.formimg p{
	padding: 0% 0% 0% 5%;
/*	background: pink;*/
	width: 95%;
	font-size: 2.7em;
/*	text-indent: 20px;*/
/*text-align: right;*/
align-self: flex-end;

}

.formbody{
	margin-top: 100px;
	margin-right: 100px;
	box-shadow: 2px 3px 10px grey;
	border-radius: 10px;
	justify-self: flex-start;
	background-color: white;
/*	height: 40vh;*/
flex-basis: 350px;
	text-align: center;
/*	align-self: center;*/
/*align-items: center;*/
}


.formbody input{
	margin: 10px 0px 10px 0px;
/*	border-radius: none;*/
	width: 82%;
	border-radius: 10px;
	border: none;
	border: 1.5px solid lightgrey;
	font-size: 18px;
	padding: 12px 18px;
}

#input2{
	margin: 5px 0px 10px 0px;
	border-radius: 10px;
	width: 82%;
	padding: 12px 18px;
}


#login{
	width: 90%;
	border-radius: 10px;
	border: none;
	font-size: 18px;
	margin: 10px 0px 5px 0px;
/*	border-radius: none;*/
/*	width: 88%;*/
	padding: 15px 18px;
/*	background-color: #0090FF;*/
	background-color: #1877f2;
	font-weight: bold;
	color: white;
/*	border: none;*/
}

#login:hover{
	background-color: #1879f2;
	cursor: pointer;
}


.formbody a{
	text-decoration: none;
	font-size: 14px;
	color: #1877f2;
}


#account{
	padding: 17px 23px;
	border-radius: 10px;
	font-size: 17px;
	color: white;
	font-weight: bolder;


/*	width: 60%;*/
	background-color: #42b72a;
} 


@media screen and (max-width:1000px){
	.contain{
		flex-wrap: wrap;
/*		flex-direction: column;*/
		text-align: center;
	}
	.formbody{
		text-align: center;
		margin: 34px 0px 0px 0px;
	}
	.formimg{
		text-align: center;
		margin: 0;
	}
}


.main{
	display: flex;
	justify-content: center;
	align-items:center ;
	flex-direction: column;
	text-align: center;
}

.main > img{
	width: 20rem;
	height: auto;
}

.completeform{
	width: 28rem;
	background-color: white;
	padding: 10px 0px;
	border-radius: 7px;
	box-shadow: 2px 3px 6px grey;
}

.formheading{
	font-size: 10px;
/*	background-color: red;*/
	padding: 0px 0px 0px 0px;
}

.formheading h1 {
	font-size: 2.3em;

}

.formheading p{
	font-size: 1.5em;
	color: grey;

}

form > input{
	margin: 0% 2.0% 0% 2.0%;
	padding: 10px 0px 10px 7px;
	border-radius:5px;
	border:1px solid grey;
	font-size: 16px;

}

.name{
	width: 40%;
	display: inline-block;
}

.emailpassword{
	width: 86%;
}


.date{
	margin-top: 10px;
	font-size: 1.3em;
	color: #606770;
	padding-left: 25px;
	text-align: left;
	margin:15px 0px 5px 0px;
}

select{
	display: inline-block;
	width: 26%;
	font-size: 16px;
	border-radius: 5px;
	padding: 10px 0px 10px 0px;
/*	margin-right: 30px;*/
margin: 0px 2% 0px 2%;
}


.gender{

	margin-top: 10px;
	font-size: 1.3em;
	color: #606770;
	padding-left: 25px;
	text-align: left;
	margin:15px 0px 5px 0px;
}

.male{
	text-align: left;
	display: inline-block;
	width: 26%;
	font-size: 16px;
	border-radius: 5px;
/*	background-color: red;*/
	padding: 10px 0px 10px 0px;
/*	margin-right: 30px;*/
	margin: 0px 2% 0px 2%;
	border-radius: 5px;
	border: 1px solid grey;
}

form label{
	padding: 0px 18px 0px 10px;
}

.male + p{
	color: grey;
	padding: 20px;
	text-align: left;
	font-size: 12px;
}


form button{
	border-radius: 5px;
	border: none;
	background-color:#00a400;
	padding: 10px 50px;
	color: white;
	font-weight: bold;
	font-size: 18px;
}

form a{
	text-decoration: none;
	font-size: 16px;
	color: #1877f2;
}


@media screen and (max-width:400px){
	.completeform{
		width: 90%;

	}
}
